@import url('../icons/style.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #589BFB;
  --secondary: #EE4037;
  --light: #AFCDF9;
  --white: #ffffff;
  --dark: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

span {
  font-family: 'Nunito', sans-serif;
}

p {
  font-family: 'Nunito', sans-serif;
}